* {
    margin:0;
    padding:0;
    color:#666;
    outline:1px solid black;
}

body {
    background:#e4e4e4;
}

h3 {
    color:#006232;
}

ul {
    list-style:none;
    padding:0px;
}

.headerWrapper {
    height:80px;
    background: url(content/headGradient.png) repeat-x;
}

.headerContent, .wrapper {
    width:80%;
    margin:auto;
    min-width:800px;
    max-width:1200px;
    overflow:hidden;
}

.headerCart, .headerMenu {
    width:90%;
    margin-left:10%;
}

.headerCart {
    text-align:right;
    height:40px;
    padding:5px 0px;
}

.headerCart a {
    padding:10px;
    font-size:0.8em;
    font-weight:bold;
    color:#999;
    text-decoration:none;
}

.headerMenu {
    height:40px;
}

.menuButton {
    display:inline-block;
    padding:0px 15px;
    border-left:1px solid #bedd85;
}

.menuButton:first-child {
    border:none;
}

.menuButton a {
    text-decoration:none;
    color:#79a80f;
}

.wrapper {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 35%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(35%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 35%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 35%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 35%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 35%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.navBar{
    background:#e4e4e4;
}

.navTab {
    margin:10px 10px 0px 0px;
    padding:5px;
    display:inline-block;
    border:2px solid #fff;
    border-radius:5px 5px 0px 0px;
    font-size:0.7em;
    font-weight:bold;
    background:#fff;
}

.sideMenu, .content {
    margin-top:20px;
}

.navSearch {
    padding:10px 0px;
}

.sideMenu, .navSearch {
    margin:0px 15px;
}


.sideMenu {
    width:200px;
    float:left;
}

.sideMenu li {
    padding:5px 0px;
}

.sideMenu a {
    color:#666;
    text-decoration:none;
}

.sideMenu div, .content div {
    margin-bottom:20px;
}

.regionInfo {
    font-weight:bold;
    font-size:1.2em;
    color:#690;
}

.content {
    margin:0px 15px 0px 250px;
}

.appInfo, .appRating, .similarApps, .appReview {
    border:1px solid  #e4e4e4;
    background:#fff;
}

.appInfo {
    height:500px;
}

.appInfoLeft {
    width:220px;
    float:left;
    margin:10px 0px 0px 20px;
}

.bigAppLogo {
    text-align:center;
}

.galleryPreview img{
    vertical-align:middle;
}

.galleryPreview {
    text-align:center;
}

.galleryPreview a {
    text-decoration:none;
    color:#690;
}

.appInfoRight {
    margin:10px 10px 0px 250px
}

.footer {
    clear:both;
}